:root{
  --oscuro: #001a33
  --azulOscuro: #003366
  --azulClaro: #004d99
  --blanco: #FEFCFB;
  --titulos: 'Baloo 2', cursive;
  --parrafos: 'Montserrat', sans-serif;
}

html{
  box-sizing: border-box;
  font-size: 62.5%; 
  /*scroll-behavior: smooth;*/
}
body{
  font-size: 1.6rem;
}

*,*::before, *::after{
  box-sizing: inherit;
}
/*estilos globales*/

h1, h2, h3 {
  font-family:'Baloo 2', cursive;
}

p, a {
  font-family: 'Montserrat', sans-serif;
}

.ocultar{
  display: none;
}

.contenedor{
  margin: 0 auto;
  max-width: 120rem;
  width: 95%;
}

.btn{
  padding: 1rem 4rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  border: none;
  color: #FEFCFB; 
}

.border{
  border: 2px solid #004d99;
  color: #004d99;
  text-decoration: none;
  display: block;
  text-align: center;
  border-radius: 3rem;
  transition: background-color .3s ease-in-out;
  padding: 1rem 1rem;
}
@media(min-width: 768px){
  .border{
    display: inline-block;
    margin-top: 2rem;
  }
}

.border:hover{
  background-color: #004d99;
  color: #FEFCFB;
}

.btn:hover{
  cursor: pointer;

}

.azul{
  background-color: #004d99;
  border-radius: 2rem;
}

@keyframes desplazamiento{
  /*desplazamiento inicial*/
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(0);
  }
}

/*encabezado*/

.encabezado{
  background-image: url('../img/portada\ 1');
  background-repeat: no-repeat;
  height: 100vh;
  min-height: 70rem;
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 1;
}

header a{
  font-size: 75px;
}

@media(min-width: 768px){
  .encabezado{
    background-attachment: fixed;
  }
}

.encabezado::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;

}

.logo h2{
  font-size: 3rem;
  color: #FEFCFB;
}

.logo h2 span{
  color: #004d99;
}

.contenido-navegacion {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #001a33;
  box-shadow: 10px 10px 1px -6px rgba(0,0,0,0.45);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  position: fixed;
  width: 100%;
}

.navegacion{
  position: absolute;
  left: 0;
  top: 70px;
  width: 100%;
  background-color: #FEFCFB;
  animation: desplazamiento .3s ease-in-out;
  
}

@media(min-width: 768px){
  .ocultar{
    display: inline;
  }
}

.navegacion a{
  display: block;
  font-size: 2rem;
  padding: 1.1rem;
  color: #FEFCFB;
  text-decoration: none; 
  transition: background-color .3s ease;
}

.navegacion a:hover{
  background-color: #001a33;
  color: #004d99;
}



@media(min-width: 768px){
  .navegacion a{
    display: inline;
  }
}

@media(min-width: 768px){
  .navegacion{
    position: relative;
    top: unset;
    width: auto;
    background-color: unset;
    animation: unset;
  }
}

.hamburguer span{
  
  width: 25px;
  height: 3px;
  margin: 3px auto;
  display: block;
  background-color: #FEFCFB;
  
}

@media(min-width: 768px){
  .hamburguer{
    display: none;
  }
}

@media(max-width:768px){
  .hamburguer{
    display: block;
  }
}

/*contenido del encabezado*/

@media(min-width:768px){
  .contenido-encabezado{
    display: flex;
    align-items: center;
    height: 85%;
  }
  .contenido-encabezado, .formulario_encabezado{
    flex: 0 0 calc(50% - 1rem);
  }
}

.texto-encabezado h1{
  font-size: 3rem;
  text-align: center;
  color: #FEFCFB;
  padding-top: 8rem;
}

@media(min-width:768px){
  .texto-encabezado h1{
    font-size: 6rem;
    text-align: left;
    padding-top: 0;
  }
  }

.formulario_encabezado{

  background-color: #FEFCFB;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
  border-radius: .8rem;

}
.formulario_encabezado h2{
  font-size: 3rem;
  text-align: center;
  margin-top: 0;
  
}

@media(min-width:768px){
  .formulario_encabezado h2{
    font-size: 4rem;
    text-align: left;
  }
  }

.input-encabezado{
  margin-bottom: 1rem;
  width: 100%;
}


.input-encabezado input{
  width: 100%;
  padding: 0 1.6rem;
  height: 4.8rem;
  border: 1px solid #FEFCFB;
  border-radius: .5rem;
  font-family: 'Montserrat', sans-serif;
  outline: none;
}

/* seccion de ventajas*/

@media(min-width: 768px){
  .contenido-ventajas{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
  }

}

.ventajas{
  padding: 5rem;
  background-color: #001a33;
}

.ventaja{
  color: #FEFCFB;
  text-align: center;
}

.ventaja i{
  font-size: 4rem;
}

.ventaja h3{
  font-size: 2.5rem;
}

.ventaja p{
  font-size: 1.8rem;
}

/*seccion sobre nosotros*/

.nosotros h2 {
  text-align: center;
  font-size: 4rem;
  color: #004d99;
}

@media(min-width: 768px){
  .nosotros h2 {
    font-size: 5rem;
  }
}

.contenido-nosotros{
  background-image: url(../img/nosotros.avif);
  display: grid;
  grid-template-rows: repeat(2,1fr);
  background-size: cover;
  background-position: center center;
}

@media(min-width: 768px){
  .contenido-nosotros{
    grid-template-columns: repeat(2,1fr);
    background-attachment: fixed;
  }

}

.texto-nosotros{
  padding: 2rem;
  grid-row: 2/3;
  background-color: #FEFCFB;
}

@media(min-width: 768px){
  .texto-nosotros{
    padding: 5rem;
  }

}

.texto-nosotros h3{
  font-size: 3rem;
  color: #004d99;
  text-align: center;
  
}

.texto-nosotros p{
  font-size: 1.8rem;
  text-align: center;
}

@media(min-width: 768px){
  .texto-nosotros p{
    text-align: center;
  }

}
/*seccion servicios*/

.servicios{
  padding-top: 5rem;
}

.servicios h2{
  font-size: 5rem;
  text-align: center;
  color: #004d99;
}

@media(min-width: 768px){
  .contenido-servicios{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 4rem;
  }
}

.servicio{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.servicio i{
  background-color: #004d99;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FEFCFB;
  font-size: 3rem;
  box-shadow:  10px 10px 16px -6px rgba(0, 0, 0, 0.45);
  transition: all .3s ease-in-out;

}

.servicio h3{
  font-size: 2.2rem;
  color: #001a33;
}

.servicio p{
  font-size: 1.8rem;
  text-align: center;
}

@media(min-width: 768px){
  .servicio p{
    text-align: left;

  }
}

@media(min-width: 768px){
  .servicio:hover{
    cursor: pointer;
  }
  .servicio:hover .fa-solid  {
    background-color: #FEFCFB;
    color: #004d99;
  }
  .servicio:hover .fa-brands  {
    background-color: #FEFCFB;
    color: #004d99;
  }
}

/*seccion de contacto*/

.contacto{
  padding-top: 5rem;
}

.contacto h2{
  text-align: center;
  color: #004d99;
  font-size: 5rem;
}

@media(min-width: 768px){
  .contenido-contacto{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
  }
}

.informacion-contacto{
  background-image: url(../img/contactos.avif);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: -1;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

@media(win-width: 768){
  .informacion-contacto{
    height: 100vh;
  }
}

.informacion-contacto::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.informacion-contacto h3{
  font-size: 4rem;
  text-align: center;
}

.informacion-contacto p{
  font-size: 2rem;
}

.informacion-contacto h3, .informacion-contacto p{
  color: #FEFCFB;
}

.formulario-contacto{
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #001a33;
}


.input-contacto label{
  color: #FEFCFB;
  font-family: 'Montserrat', sans-serif;
  display: block;
  margin: 1rem 0;
  font-weight: bold;

}

.input-contacto input{
  padding: 1.2rem 1rem;
  font-family: 'Montserrat', sans-serif;
  margin: 15px 0;
}

.input-contacto input, .input-contacto textarea{
  width: 100%;
  outline: none;
}

.input-contacto textarea{
  resize: none;
}


.input-contacto input[type="submit"]{
  width: auto;
  outline: 1rem 3rem;
  background-color: #004d99;
  color: #FEFCFB;
  border: none;
  transition: background-color .3s ease-in-out;
}

.input-contacto input[type="submit"]:hover{
  background-color: #FEFCFB;
  color: #004d99;
}


.footer .logo h2, .footer p{
  text-align: center;
}


@media(min-width: 768px){
  .footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
}






  